# Redis configuration
REDIS_URL= redis://host:port/0

# POSTGRESQL database configuration
DATABASE_URL=postgresql+asyncpg://user:password@host:port/db_name

POSTGRES_USER=lumen
POSTGRES_PASSWORD=change_me
POSTGRES_DB=lumen